body {
    font-family: sans-serif;
    margin: 0;
    background-color: #001925;
    padding: 30px;
    border-left: 5px solid #ff7a01;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
    color: #fff;
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

ul{
    list-style-type: none;
}

h2 {
    font-weight: bold;
    margin: auto;
    text-align: center;
}